@charset "utf-8";

html {}

body {}

/* header */
header {
    background: #186AC9;
    padding: 10px;
    /* ヘッダー内の余白を調整 */
}

#head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* 追加：要素を左右に配置 */
}

#container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /* 右寄せにする */
}

#container p {
    margin-right: 20px;
    color: white;
}

#accordion {
    position: relative;
    display: inline-block;
}

#dropdownMenuButton {
    cursor: pointer;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    display: flex;
    align-items: center;
}

#arrow {
    transition: transform 0.3s ease;
    cursor: pointer;
}

#arrow.rotate {
    transform: rotate(180deg);
}

.hidden {
    display: none;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background: #fff;
    border: 1px solid #ccc;
    position: absolute;
    top: 40px;
    right: 0;
    width: 150px;
}

ul li {
    padding: 8px;
    border-bottom: 1px solid #ccc;
}

ul li a {
    text-decoration: none;
    color: #333;
}

ul li a:hover {
    color: #007bff;
}

/* main content */
#row {
    display: flex;
    flex-flow: row wrap;
}

#container {
    flex: 0 0 80%;
}

#side-bar {
    flex: 0 0 19%;
    border-left: 1px solid #727272;
}

/*投稿フォームについて
/* フォーム全体のスタイル */
.form-group {
    position: relative;
    margin: 20px 0;
    /* 左寄せ */
    text-align: left;
}

/* アイコンのスタイル */
.form-group img {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
}

/* テキストボックスのスタイル */
.form-control {
    padding-right: 40px;
}
